body {
    min-width: 760px;
    font-size: 12px;
}

#issuetable {
    border-bottom: 1px solid #ccc;
    padding: 5px 7px;
}

#issuetable tbody tr td {
    border-bottom: 1px solid #ccc;
    padding: 5px 7px;
}

#issuetable .issuekey {
    white-space: nowrap;
}

#issuetable .date {
    background-color: beige;
}

#issuetable .day {
    min-width: 28px;
}

#issuetable input {
    max-width: 24px;
}

#issuetable input:disabled {
    background: transparent;
    border: none;
}

#issuetable .day:hover {
    background-color: rgba(0, 191, 255, 0.6);
}