<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Jira Log Work</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">

	<script src="js/jira.utils.js"></script>
	<script src="jira/issues/listIssues.js"></script>

</head>

<body>

	<div class="container" id="container">
		<div class="form-group" id="jiraUrlContainer">
			<label for="jiraUrl" style="margin-top: 5px">Jira Url</label>
			<input type="text" class="form-control" name="" id="jiraUrl" aria-describedby="helpId"
				placeholder="Please input Jira Url here!">
			<label for="projectOption">Select Project</label>
			<select class="form-control" id="projectOption" disabled>
				<option></option>
			</select>
		</div>
		<div id="includedContent"></div>
	</div>

	<!--  -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/customLib.js"></script>
	<script src="index.js"></script>
</body>

</html>