<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jira Log Work</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="form-group">
          <label for=""></label>
          <input type="text"
            class="form-control" name="" id="jiraUrl" aria-describedby="helpId" placeholder="Please input Jira Url here!" style="width: 25em">
        </div>
    </div>

    <div id="test"></div>

    <!--  -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/index.js"></script>
</body>

<script>
    $(document).ready(function () {
        document.getElementById('test').innerHTML = 'ABC';
    });
</script>

</html>