<table id="issuetable" border="0" cellpadding="3" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th colspan="3" id="user">Summary for</th>
			<th id="mon">Mon</th>
			<th id="tue">Tue</th>
			<th id="web">Web</th>
			<th id="thu">Thu</th>
			<th id="fri">Fri</th>
		</tr>
	</thead>
	<tbody id="issuetableBody">
		<!-- <tr>
			<td width="1%">
				<a href="https://agile.qasymphony.com/browse/MR-5449">
					<img height="16"
						src="https://agile.qasymphony.com/secure/viewavatar?size=xsmall&amp;avatarId=10318&amp;avatarType=issuetype"
						title="Task - A task that needs to be done." width="16">
				</a>
			</td>
			<td width="1%" class="issuekey">
				<a href="https://agile.qasymphony.com/browse/MR-5449">
					MR-8515
				</a>
			</td>
			<td width="100%">
				<span style="color:#666">
					<a href="https://agile.qasymphony.com/browse/MR-8476"
						title="As a user with Manage Integration Settings, I want to enable or disable a Jira connection via API"
						style="color:#666 !important" target="_parent">
						<s>MR-8476</s>
					</a>/
				</span>
				<a href="https://agile.qasymphony.com/browse/MR-5449">
					Planning and Meeting
				</a>
			</td>
			<td>1h</td>
			<td>1h</td>
			<td>1h</td>
			<td>1h</td>
			<td>1h</td>
		</tr> -->

	</tbody>
</table>
